body {
    margin: 0;
    padding: 0;
    background: #151515 url("../img/bkg.png") 0 0;
    color: #eaeaea;
    line-height: 1.5;
    font-family: Helvetica, SansSerif;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

header h1 {
    line-height: 1.5;
    font-weight: bold;
    color: #b5ff53;
}

header h1:before {
    content: "./ ";
}

header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #999;
}

h1, h2, h3, h4, h5, h6 {
    color: #b5e853;
}

a {
    color: #63c0f5;
}

#myList {
    list-style: none;
}

#entry {
    margin: 10px;
    padding: 10px;
    background: #f9f9f9;
    color: #151515;
    line-height: 1.5;
    font-family: Helvetica, SansSerif;
}

#entry h1, #entry h2, #entry h3, #entry h4, #entry h5, #entry h6 {
    color: #4c9050;
}